.FormTemplate {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100vw;
}

.InputFormTemplate--body {
    align-self: center;
    padding: 0.5em;
}

.InputFormTemplate__showInput {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.InputFormTemplate__showInput button {
    margin: 0;
    width: fit-content;
    padding: 1em 1.5em;
}

.InputFormTemplate__showInput p {
    padding-right: 18em;
    padding-top: 1.5em;
    margin: 0
}

.InputFormTemplate--body label {
    font-weight: bold;
    font-size: large;
    padding-right: 0.2em;
}

.InputFormTemplate--body input {
    color: rgb(10, 9, 9);
    font-size: large;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
}

.InputFormTemplate__sidebar--data {
    max-height: 22.8rem;
    overflow: auto;
}

.InputFormTemplate__sidebar--data p {
    width: 27vw;
    font-size: 14px;
    padding: 0.7rem 0;
    padding-left: 0.3rem;
    border: 2px solid black;
    margin: 0.3em 0;
}

/*
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  
} */