:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}



.app {
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;
}

button{
  padding:10px;
  margin: 10px;
  font-weight: 1000;
  color: green;
  background-color: chartreuse;
  text-shadow: 5px;
  width: 10rem;
}
button:active{
  background-color: rgb(224, 183, 1);
}

button:hover{
  background-color: rgb(117, 219, 14);
}

.footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsla(224, 61%, 78%, 0.281);
    color: blanchedalmond;
    text-align: center;
}